# Logistic Regression
Tahapan :
   1. Ubah dataset menjadi Dataframe.
   2. Pisahkan atribut dan label.
   3. Hapus kolom 'User ID'.
   4. Latih model Logistic Regression.
   5. Evaluasi akurasi model.

In [22]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_1f4d4c4de89540c5b91283c1fbf2e8e1 = 'https://s3.us.cloud-object-storage.appdomain.cloud'
else:
    endpoint_1f4d4c4de89540c5b91283c1fbf2e8e1 = 'https://s3.private.us.cloud-object-storage.appdomain.cloud'

client_1f4d4c4de89540c5b91283c1fbf2e8e1 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='dDuT9Y7UtbO9-WmawNyBuALgL4gYUI6T2MuRzIvMcRxJ',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_1f4d4c4de89540c5b91283c1fbf2e8e1)

body = client_1f4d4c4de89540c5b91283c1fbf2e8e1.get_object(Bucket='latihanwatsonstudio-donotdelete-pr-o35aesrtn21y0t',Key='Social_Network_Ads.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [26]:
import pandas as pd
 
df = df_data_1

In [27]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [30]:
# drop kolom yang tidak diperlukan (User ID)
data = df.drop(columns=['User ID'])
 
'''
one-hot-encoding dapat megubah data kategorik menjadi data numerik
karena regression hanya dapat menerima data numerik 
'''

# jalankan proses one-hot encoding dengan pd.get_dummies()
data = pd.get_dummies(data)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [31]:
# pisahkan atribut dan label
predictions = ['Age' , 'EstimatedSalary' , 'Gender_Female' , 'Gender_Male']
X = data[predictions]
y = data['Purchased']

In [32]:
# lakukan normalisasi terhadap data yang kita miliki
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns= X.columns)
scaled_data.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0 -1.781797        -1.490046      -1.020204     1.020204
1 -0.253587        -1.460681      -1.020204     1.020204
2 -1.113206        -0.785290       0.980196    -0.980196
3 -1.017692        -0.374182       0.980196    -0.980196
4 -1.781797         0.183751      -1.020204     1.020204

In [33]:
from sklearn.model_selection import train_test_split
 
# bagi data menjadi train dan test untuk setiap atribut dan label
X_train, X_test, y_train, y_test = train_test_split(scaled_data, y, test_size=0.2, random_state=1)

In [34]:
from sklearn import linear_model
 
# latih model dengan fungsi fit
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

# Menguji akurasi model Logistic Regression

In [35]:
from sklearn.preprocessing import StandardScaler
 
# uji akurasi model
model.score(X_test, y_test)

0.825